*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color:rgb(83, 83, 83);
}
.error_messages{
  margin-bottom: 20px;
  }

.error_messages h2{
display: none;
}

.error_messages li{
  color: red;
  list-style: none;
}

.login-flash-message{
  color: red;
  margin-bottom: 20px;
}

.wrapper{
  width: 900px;
  display: block;
  margin: 60px auto;
  border: 3px solid #ddd;
  border-radius: 10px;
}

.tip-title, 
.tip-category, 
.tip-description,
.tip-contributer,
.tip-tag{
  padding: 20px;
  margin-bottom: 10px;
  font-size: 21px;
  overflow: hidden;
}

/* 半分画面表示時 */
@media (max-width: 900px) {
  .wrapper{
    width: 540px;
    display: block;
    margin: 60px auto;
    border: 3px solid #ddd;
    border-radius: 10px;
  }
  .error_messages li {
    font-size: 14px;
    padding-top: 5px;
  }
  em {
    font-size: 12px;
  }
  strong {
    font-size: 12px;
  }
}