*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color:rgb(83, 83, 83);
}
.error_messages{
  margin-bottom: 20px;
  }

.error_messages h2{
display: none;
}

.error_messages li{
  color: red;
  list-style: none;
}

.login-flash-message{
  color: red;
  margin-bottom: 20px;
}

.wrapper{
  width: 900px;
  display: block;
  margin: 60px auto;
  border: 3px solid #ddd;
  border-radius: 10px;
}

.tip-title, 
.tip-category, 
.tip-description,
.tip-contributer,
.tip-tag{
  padding: 20px;
  margin-bottom: 10px;
  font-size: 21px;
  overflow: hidden;
}

.main-top {
  height: 57px;
  align-items: center;
}
.new-tip-title {
  padding: 20px 10px;
  display: flex;
}
.new-tip-title p{
  font-size: 21px;
  min-width: 150px;
}

.mypage-area, 
.trend-area{
  width: 100%;
  height: calc(100vh - 200px);
  overflow: auto;
}

.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080;
  margin-left: 20px;
}

.logo-btn{
  color: gray;
  padding-right:3px ;
}

/* 半分画面表示時 */
@media (max-width: 900px) {
  .wrapper{
    width: 560px;
    display: block;
    margin: 60px auto;
    border: 3px solid #ddd;
    border-radius: 10px;
  }
  .error_messages li {
    font-size: 14px;
    padding-top: 5px;
  }
  em {
    font-size: 12px;
  }
  strong {
    font-size: 12px;
  }
}