/* header */
.header{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{  
  border-bottom: 3px solid #ddd;
  width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a{
  font-size: 40px;
  color:rgb(83, 83, 83);
  text-decoration: none;
  height: 100px;
}

/* middle */

.middle{
  display: flex;
}

/* left-contents */
.left-contents{
width: 500px;
display: flex;
}
.contents-text,
.contents-text-registration{
  padding: 20px;
  width: max-width;
}
.contents-text h2,
.contents-text-registration h2{
  font-size: 28px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 50;
}
.contents-text p,
.contents-text-registration p{
  font-size: 21px;
  margin-bottom: 16px;
  padding-left: 30px;
}

.to-sign-up {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 16px;
}
.to-sign-up a{
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid ;
}

/* session-contents */
.session-contents{
  width: 400px;
}
/* registration-contents */
.registration-contents{
  width: 500px;
}

.contents-box{
  border: 3px solid #ddd;
  border-radius: 5px;
  background-color:white;
  margin: 20px;
  padding: 20px;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color:rgb(83, 83, 83);
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.field-introduction {
  width:360px;
  height:200px;
}



/* -----------ユーザー編集--------------- */
.registration-contents-user{
  width: 500px;
}

.contents-box-user{
  border-radius: 5px;
  background-color:white;
  margin: 20px;
  padding: 20px;
}

.field-user-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 10px;
  width: 250px;
}

.field-introduction-text{
  width:420px;
  height:200px;
}

.actions-user{
  display: flex;
  justify-content: center;
}


/* ----------半分画面表示時--------------- */
@media (max-width: 900px) {
  /* header */
  .header{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo{  
    border-bottom: 3px solid #ddd;
    width: 560px;
  }

  .logo a{
    font-size: 40px;
    color:rgb(83, 83, 83);
    text-decoration: none;
    height: 75px;
  }

  /* middle */
  .left-contents{
    display: flex;
  }

  .contents-text{
    padding: 20px;
    padding-right: 10px;
  }

  .contents-text h2{
    font-size: 21px;
    padding-top: 8px;
  }

  .contents-text p{
    font-size: 16px;
    padding-left: 5px;
    padding-bottom: 18px;
  }

  .contents-text a{
    font-size: 21px;
    margin-bottom: 16px;
  }

  .to-sign-up a{
    font-size: 21px;
  }

  /* registration-contents */
  .registration-contents{
    width: 320px;
  }

  .contents-text-registration {
    padding: 20px 0 20px 20px;
  }

  .contents-text-registration p{
    font-size: 16px;
    padding-left: 5px;
  }

  .contents-text-strings{
    display: none;
  }

  .field-introduction {
    width: 234px;
    height: 120px;
  } 

  /* session-contents */
  .contents-box{
    padding-top: 5px ;
  }

  .actions{
    width: fit-content;
    margin: 0 auto;
  }

  .btn {
    padding: 2px;
    width: 150px;
  }
  
  .login-flash-message {
    font-size: 14px;
  }
}