.error_messages{
  margin-bottom: 20px;
  }

.error_messages h2{
display: none;
}

.error_messages li{
  color: red;
  list-style: none;
}

.login-flash-message{
  color: red;
  margin-bottom: 20px;
}

.back {
  background-color: white;
}

/* ----------top------------- */
.top{
  background-color: white;
  width: 100vw;
  height: 100px;
  padding: 0px 40px;
  border-bottom: 1.5px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .logo-area{
    width: 300px;
    display: flex;
  }
    .logo-image{
      width: 100px;
      height: 100px;
    }
    .top-text{
      font-size: 36px;
      margin:20px 0 ;
    }

  .user-area{
    width: 300px;
    padding:20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
    .user-button,.new-user-button{
      margin: 20px;
    }
    .login-button,.logout-button{
      margin:20px;
    }

/* -------------main-------------- */
.main {
  height: calc(100vh - 100px);
  display: flex;
  /* border-bottom:1px solid ; */
}
/* ------------side-bar-------------- */
  .side-bar {
    background-color: white;
    width: 300px;
    padding-top: 10px;
    border-right: 1.5px solid gray;
    height: calc(100vh - 100px);
  }
    .new-tip,.new-question,.my-page,.search
    {
      padding: 15px 40px;
      font-size: 21px;
    }
  /* ------------main-area----------------- */
  .main-area{
    width: calc(100vw - 300px);
    height: calc(100vh - 100px);
    overflow: auto;
  }
    .main-top{
      background-color: rgb(230, 230, 230);
      height: 70px;
      display: flex;
      justify-content: space-between;
    }
      .new-tip-title{
        padding: 20px;
      }
        .new-tip-title p{
          font-size: 21px;
        }
      .search-area{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 300px;
      }
        .search-form{
          border: 1px solid gray;
          border-radius: 5px;
          margin: 20px 5px;
        }
        .search-button{
          border: 1px solid gray;
          border-radius: 5px;
          margin: 20px 20px 20px 5px ;
          width: 40px;
          text-align: center;
        }
/* -------------tiped------------- */
    .tiped{
      display: flex;
      justify-content:space-between ;
      padding: 20px;
      border-bottom: 1.5px solid lightgrey;
    }
      .tiped-description{
        padding: 10px;
        min-width: 300px;
      }
        .tiped-title{
          font-size: 14px;
          margin-bottom:15px ;
        }
        .tiped-title-contents{
          font-size: 14px;
          margin-bottom: 15px;
        }
      .tiped-image-field{
        width: 600px;
      }

      .main-image{
        width:320px;
        height: 320px;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .uped-image-main{
        max-width:250px;
        max-height: 250px;
        margin:auto;
      }

      .no-image-main{
        width:150px;
        height: 150px;
        margin:auto;
        opacity: 0.5;
      }

