.error-message{
  list-style: none;
  padding-left: 20px;
  color: red;
}

.main-tips-new{
  display: block;
  align-items: center;
}

.new-tip-string{
  padding: 20px;
  margin-bottom: 10px;
  background-color: rgb(230, 230, 230);
  font-size: 24px;
}

.category-content{
  padding: 4.5px;
}

.tip-images{
  margin-bottom: 10px;
}

.tip-image-main{
  padding: 20px;
}

.tip-image-main-text,.tip-image-sub-text,.tip-description-text{
  margin-bottom: 10px;
  font-size: 21px;
}

.tip-image-main-img{
  width: 300px;
}


.tip-image-sub{
  margin: 20px;
}

.tip-image-sub-images{
  display: flex;
  justify-content: space-between;
}

.tip-image-sub-img{
  width: 250px;
  height: 250px;
}

.text-form{
  width: 100%;
  height: 300px;
}

.input-submit {
  margin: 0 auto 20px 20px;
  padding: 5px 0;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

.input-submit:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
  cursor: pointer;
}

.child{
  width: 200px;
  border-bottom: 1.5px solid gray;
  margin: 10px 0;
  padding-left: 11px;
}

/* tag_new,edit.js */
.blobimg{
  max-width: 400px;
  max-height: 600px;
}

.search-result{
  font-size: 14px;
}

/* ----------半分画面表示時--------------- */
@media (max-width: 900px){
  .new-tip-string {
    padding: 16px;
    margin-bottom: 0;
    font-size: 21px;
  }
  .tip-title,
  .tip-category,
  .tip-tag,
  .tip-description,
  .tip-image-main {
    padding: 10px 20px; 
    margin-bottom: 0;
  }
  .tip-title p,
  .tip-category p,
  .tip-tag p,
  .tip-image-main p,
  .tip-description p  {
    font-size: 16px;
  }
  .text-form {
    height: 240px;
  }
  .input-submit {
    margin: 0 auto 30px 190px;
    padding: 5px 0;
    font-size: 15px;
  }
  .error-message{
    font-size:14px;
    padding-top: 10px;
  }
}