<div class="main-top">
  <div class="new-tip-title">
    <p>最新の投稿</p>
  </div>
  <div class="search-area">
      <%= form_with(url: search_tips_path, local: true, method: :get) do |form| %>
        <%= form.text_field :keyword, placeholder: "キーワードを入力", class: "search-form" %>
        <%= form.submit "検索", class: "search-button" %>
      <% end %>
  </div>
</div>
<%= render "main_search_area" %>

