<% if @tips.present? %>
  <% @tips.each do |f| %>
    <%= render partial: "tips/tiped", locals: { f: f } %>
  <% end %>
<% else %>
  <p class="search-nil">投稿はありません</p>
  <div  class="search-to-top">
    <a href="/"><< トップページへ戻る</a>
  </div>
<% end %>