<div class="main-top">
  <div class="new-tip-title">
    <p>最新の投稿</p>
  </div>
  <div class="search-area">
    <div>
      <input class="search-form"placeholder= " キーワードを入力">
    </div>
    <input  value="検索" class="search-button">
  </div>
</div>
<div class="tips">
  <div class="tips-description">
    <h3 class="tip-title">タイトル</h3>
    <p class="tip-title-contents">日付</p>
    <p class="tip-title-contents">カテゴリー</p>
    <p class="tip-title-contents">投稿者</p>
  </div>
  <div class="tips-image-field">
    <img src="images/logo_arch_tips.png" alt="image" class=up-image>
  </div>
</div>
<div class="tips">
  <div class="tips-description">
    <h3 class="tip-title">タイトル</h3>
    <p class="tip-title-contents">日付</p>
    <p class="tip-title-contents">カテゴリー</p>
    <p class="tip-title-contents">投稿者</p>
  </div>
  <div class="tips-image-field">
    <img src="images/logo_arch_tips.png" alt="image" class=up-image>
  </div>
</div>
<div class="tips">
  <div class="tips-description">
    <h3 class="tip-title">タイトル</h3>
    <p class="tip-title-contents">日付</p>
    <p class="tip-title-contents">カテゴリー</p>
    <p class="tip-title-contents">投稿者</p>
  </div>
  <div class="tips-image-field">
    <img src="images/logo_arch_tips.png" alt="image" class=up-image>
  </div>
</div>