<div class="new-tip">
  <%= link_to "新規投稿", new_tip_path%>
</div>
<div class="new-question">
  <a>質問する</a>
</div>
<% if user_signed_in? %>
  <div class="my-page">
    <%= link_to "マイページ", "/users/#{current_user.id}" %>
  </div>
<% end %>
<div class="search">
  <a href="">詳細検索</a>
</div>