<div class="new-tip">
  <%= link_to "新規投稿", new_tip_path%>
</div>
<div class="new-question">
  <a>質問する</a>
</div>
<% if user_signed_in? %>
  <div class="my-page">
    <%= link_to "マイページ", "/users/#{current_user.id}" %>
  </div>
<% end %>
<div class="search">
  <a href="">詳細検索</a>
</div>

<div class="detail-search-area">
  <div class="search-title-area">
    <p>タイトル：</p>
      <div>
      <input type="text" class="search-title" placeholder="">
      </div>
  </div>
  <div class="search-tag-area">
    <p>タグ：</p>
    <div>
      <input type="text class="search-tag" placeholder=""></div>
  </div>
  <div class="search-category-area">
    <p>カテゴリー：</p>
    <div>
      <input type="text" class="search-category">
    </div>
  </div>
  <div class="search-distributer-area">
    <p>投稿者：</p>
    <div>
      <input type="text" class="search-distributer">
    </div>
  </div>
  <div class="search-discription-area">
    <p>キーワード：</p>
    <div>
      <input type="text" class="search-discription">
    </div>
  </div>
</div>