<div class = "wrapper">
  <%= render "shared/header" %>
  <div class="main-tips-new">
    <div class = "new-tip-string">
      <p>新規投稿</p>
    </div>
    <div class="tip-title">
      <p>title</p>
      <div class="tip-title-content">
        <input type="text">
      </div>
    </div>
    <div class="tip-category">
      <p>category</p>
      <div class="tip-category-content">
        <input type="text">
      </div>
    </div>
    <div class="tip-images">
      <div class="tip-image-main">
        <p class="tip-image-main-text">text</p>
        <img src="views/logo_arch_tips.png alt="image" class="tip-image-main-img">
      </div>
      <div class="tip-image-sub">
        <p class="tip-image-sub-text">sub-text</p>
        <div class="tip-image-sub-images">
          <img src="views/logo_arch_tips.png alt="image" class="tip-image-sub-img" >
          <img src="views/logo_arch_tips.png alt="image" class="tip-image-sub-img" >
          <img src="views/logo_arch_tips.png alt="image" class="tip-image-sub-img" >
        </div>
      </div>
    </div>
    <div class="tip-description">
      <p class="tip-description-text">description</p>
      <textarea name="message" placeholder="テキスト" class="text-form"></textarea>
    </div>
  </div>
</div>