<div class="wrapper">
  <%= render "shared/header" %>
  <div class="main-top">
    <div class="new-tip-title">
      <p> トレンド</p>
    </div>
    <div>
      <p class="trend-annotation">※過去１ヶ月のいいねのランキング</p>
    </div>
  </div>
  <div class="trend-area">
    <div id="tip-list-area">
      <%= render "tips/main_trend_area" %>
    </div>
  </div>
</div>