<div class="wrapper">
  <%= render "shared/header" %>
  <div class="main-top">
    <div class="new-tip-title">
      <p> トレンド</p>
    </div>
    <div>
      <p class="trend-annotation">※過去２ヶ月のいいねのランキング</p>
    </div>
  </div>
  <div class="trend-area">
    <div id="tip-list-area">
      <%= render "tips/main_trend_area" %>
    </div>
  </div>
  <p id="page-reverse"><a href="javascript:history.go(-1)"><i class="fas fa-chevron-left logo-reverse" aria-hidden="true"></i>戻る</a></p>
</div>